# Model Configuration
# fun-asr-nano-2512 / qwen
MODEL=funasr
FUN_ASR_MODEL=./models/Fun-ASR-Nano-2512
QWEN_ASR_MODEL=./models/Qwen/Qwen3-ASR-1.7B

# PYANNOTE_TOKEN
PYANNOTE_TOKEN=hf_xxx

# API Keys
OPENAI_API_KEY=wfy-xxx

# TTS Configuration
# Models: edge-tts / qwen-tts / cosyvoice3 / cosyvoice
TTS_MODEL=edge-tts

# edge-tts voices:
# zh-CN-XiaoxiaoNeural / zh-CN-YunxiNeural / zh-CN-YunyangNeural /
# zh-HK-HiaGaaiNeural / zh-HK-HiuGaaiNeural / zh-CN-shaanxi-XiaoniNeural /

# qwen-tts voices:
# Vivian / Serena / Uncle_Fu / Dylan / Eric / Ryan / Aiden / Ono_Anna / Sohee

# cosyvoice3 voices:
# 中文男 / 中文女 / 英文男 / 英文女 / 日语男 / 日语女
# COSYVOICE_MODEL_PATH=./models/Fun-CosyVoice3-0.5B-2512

TTS_VOICE=default

# Hotword API
HOTWORD_API_URL=https://wsyy.wzhospital.cn:38443/sysmanage/v1/user/getStaffName

# Wespeaker 配置
WESPEAKER_ENABLED=True
