# Model Configuration
# fun-asr-nano-2512 / qwen
MODEL=qwen
FUN_ASR_MODEL=./models/Fun-ASR-Nano-2512
QWEN_ASR_MODEL=./models/Qwen/Qwen3-ASR-1.7B

# PYANNOTE_TOKEN
PYANNOTE_TOKEN=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

# API Keys
OPENAI_API_KEY=wfy-xxx

# TTS Configuration
# Models: edge-tts / qwen-tts (qwen-tts需要解决依赖冲突后使用)
TTS_MODEL=edge-tts

# edge-tts voices:
# zh-CN-XiaoxiaoNeural / zh-CN-YunxiNeural / zh-CN-YunyangNeural /
# zh-HK-HiaGaaiNeural / zh-HK-HiuGaaiNeural / zh-CN-shaanxi-XiaoniNeural /

# qwen-tts voices:
# Vivian / Serena / Uncle_Fu / Dylan / Eric / Ryan / Aiden / Ono_Anna / Sohee
TTS_VOICE=zh-CN-XiaoxiaoNeural
